.footer {
    padding: 2rem 0;
    background-color: rgba(19, 19, 19, 0.8);
}

.footer-container {
    max-width: 960px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.left, .right {
    flex-basis: calc(50% - 10px);
    padding: 1rem;
    text-align: center;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social {
    margin-top: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
}

h4 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px){
    .left, .right {
        flex-basis: 100%;
    }
}
